p{
  font-family: roboto;
  margin: 0
}

.user-box{
  box-shadow: 10px 5px  10px rgba(0, 0, 0, 0.277);
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 100px;
}

.picture-box{
  width:100px;
  height:100px;
  margin-right: 15px;;
}
.profile-pic{
  width:100%;
  height:100%;
  border-radius:50px;
  object-fit: cover;
  object-position: top;
}

.info-box{
  margin-top: 10px;
  width:150px;
}

.user-name{
  font-weight: 700;
  font-size: 20;
}
.user-info{
  color:rgb(97 97 97);
  font-weight: 300;
  margin-top: 10px;
}

.user-status{
  margin-top:10px;
  color: rgb( 97 97 97);
  font-weight: 300;
  font-size: 14px;
}
.button-box{
 display: flex;
 flex:1;
 align-items: center;
 justify-content: end;
 margin-right:10px;
 
}

.follow-button{
  color:white;
  background-color: rgb(0, 110, 255);
  border: none;
  height: 35px;
  width: 90px;
  border-radius: 5px;
}
