p{
  font-family: roboto, arial;
}

.navbar{
  display:flex;
  flex-direction: row;
  height:70px;
  width:1000px;
  background-color: rgb(95, 61, 125);
  align-items: center;
  justify-content: space-between;

}

.home-box{
  margin-left: 20px;
  width:100px;
  color:white;
  font-weight: 700;
}

.search-box{
  flex:1;

}
.search-bar{
  display: flex;
  width: 500px;
  height: 35px;
  border-radius: 20px;
  border:none;
  font-size: 18px;
  font-weight: 100;
  text-align:start;
  justify-content: center;
  align-items: center;
}

.download-button{
  border: 1px solid white;
  border-color: white;
  color:white;
  background-color: transparent;
  height: 35px;
  width: 100px;
  margin-right: 10px;

}


